@media only screen and (max-width: 768px) {
    .header{
        background-image: url("1.svg");
        background-size: cover;
        background-position: center;
        height: 75vh;
        color: white;
        position: relative; /* Allows for better positioning of text */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
    .header-title {
        font-size: 3.0rem; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin: 0;
      }

      .searchBox{
        position: absolute;
        bottom: 35%;
        max-width: 55%;
        display: flex;
        justify-content: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
      }

      .location{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 1rem;
      }

      .heat{
        font-size: 3.0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
      }
      
      .condition{
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
      
      }

      .tempCard{
        display: grid;
        grid-template-columns: auto;
        color: rgb(255, 255, 255);
        border: 2px solid white;
        box-shadow: 5px 5px 10px 2px rgb(234, 233, 240);
        justify-content: center;
        text-align: center;
        background-color: #748bf1;
      }
      
      .tempHead{
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.0rem;
        font-weight: 600;
      }
      
      .temp{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
      }
  }

@media only screen and (max-width: 576px) {
    .header-title {
        font-size: 2.5rem; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin: 0;
      }

      .searchBox{
        position: absolute;
        bottom: 35%;
        max-width: 75%;
        display: flex;
        justify-content: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
      }

      .searchBox{
        position: absolute;
        bottom: 35%;
        max-width: 55%;
        display: flex;
        justify-content: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
      }

      .location{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 1rem;
      }

      .heat{
        font-size: 3.0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
      }
      
      .condition{
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
      
      }

      .sunrise{
        margin-top: 1.0rem;
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
      }
      
      .localTime{
        font-size: 3.0rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1.5rem;
      }
      
      .sunset{
        margin-top: 1.5rem;
        margin-bottom: 1.1rem;
        font-size: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
      }


      .tempCard{
        display: grid;
        grid-template-columns: auto;
        color: rgb(255, 255, 255);
        border: 2px solid white;
        box-shadow: 5px 5px 10px 2px rgb(234, 233, 240);
        justify-content: center;
        text-align: center;
        background-color: #748bf1;
      }
      
      .tempHead{
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.0rem;
        font-weight: 600;
      }
      
      .temp{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
      }
  }